[2013-07-01 14:30] rikkit opened #1 "Auth.GetMobileSession should return a Response"

[2013-07-01 20:21] #1 closed, assigned to rikkit

[2013-07-17 13:58] rikkit opened #2 "TrackApi.GetShouts fails when there's only one shout"
Last.fm syntax is different for some reason

[2013-07-17 14:01] rikkit opened #3 "Request parameters aren't uri encoded"
Asking for Matt & Kim returns Matt. Nobody likes Matt.

[2013-07-24 01:04] rikkit opened #4 "Track with no top tags not parsed correctly"

[2013-07-24 21:39] #4 closed, assigned to nobody

[2013-07-24 23:07] #3 closed, assigned to nobody

[2013-07-25 16:49] #2 closed, assigned to nobody

[2013-09-01 23:07] rikkit opened #5 "Error responses should contain more information"
Commit 172911988a54b5642be12a40ec8c36620529d853 added a switch to catch request exceptions from api actions, should preserve more information if this is used.

[See this StackOverflow comment](http://stackoverflow.com/questions/18562613/async-method-returning-taskt-with-generic-constraint-in-c-sharp?noredirect=1#comment27311826_18562613)

[2013-09-02 14:20] rikkit opened #6 "Move Auth into a command"

[2013-09-02 15:15] #6 closed, assigned to nobody

[2013-09-11 02:30] rikkit opened #7 "Requests for the shouts on "A Tooth For An Eye" fail"

[2013-09-11 02:38] #7 closed, assigned to nobody

[2013-09-11 02:39] rikkit opened #8 "Set up test coverage tool"
and integrate it into the AppVeyor process

[2014-03-14 17:22] rikkit opened #9 "CI integration"
http://stackoverflow.com/questions/16751772/how-do-i-use-travis-ci-with-c-sharp-or-f

[2014-10-01 00:33] #9 closed, assigned to nobody

[2014-10-03 14:02] rikkit opened #11 "Mono support"

[2014-10-06 14:32] rikkit opened #12 "Rename IAuth.HasAuthenticated"
So it's obvious it's referring to user authentication specifically

part of documenting anon usage better

[2014-10-07 11:13] haroldma-zz opened #13 "Change naming convention"
For example Track, Album, and Artist.  I'm using the library for a music project and it just makes it harder to work with different classes of the same name.

I suggest refactoring them to be FmTrack, FmArtist and FmAlbum.  You can easily distinguish the purpose of the object using that simple prefix.

[2014-10-09 00:38] #13 closed, assigned to nobody

[2014-10-09 00:41] rikkit opened #16 "Find a cleaner way to get Artists, Tracks and Albums using an MBID"
See 229968eb6300d2b213f760beb103f54bac7e86aa

Maybe MBID type + command constructor overloading

[2014-10-09 00:52] rikkit opened #17 "Add "Last" prefix to all public class names"
to make everything consistent

e.g. Auth -> LastAuth, IAuth -> ILastAuth, AlbumApi -> LastAlbumApi

[2014-10-09 17:40] haroldma-zz opened #18 "Handle empty search response"
If the search term returns nothing the sdk throws a null exception.

[2014-10-10 11:52] rikkit opened #19 "Generate NuGet packages for releases"
Need to check branching strats, AppVeyor can only generate packages from one branch iirc

[2014-10-10 15:58] rikkit opened #21 "Tests to ensure handling parsing Album.Name correctly in all situations"
See changes in dc8189903b9adb53c23b0f94dda48625febd29d1

[2014-10-11 16:06] #18 closed, assigned to nobody

[2014-10-11 16:51] rikkit opened #22 "GetSimilarArtistsCommand should return a PageResponse"
also, any command returning LastResponse<List<T>>

[2014-10-11 17:25] rikkit opened #23 "Remove Lastfm.CatchRequestExceptions entirely"
http://www.youtube.com/watch?v=mqUUlBwtKNs

[2014-10-11 18:53] rikkit opened #24 "Change 8.1 Silverlight project to 8.1"
Turns out interactivity SDK is unavaible on Windows 10.

[2014-10-11 23:08] #24 closed, assigned to rikkit

[2014-10-12 12:53] rikkit opened #25 "GetArtistTopTracksCommand doesn't return top tracks"
I broke something when reformatting

[2014-10-12 13:50] #25 closed, assigned to nobody

[2014-10-12 14:44] #22 closed, assigned to rikkit

[2014-10-12 15:48] #17 closed, assigned to nobody

[2014-10-12 15:48] #12 closed, assigned to rikkit

[2014-10-12 17:32] rikkit opened #26 "Use DateTimeOffset"

[2014-10-20 23:17] rikkit opened #28 "Generate a progress report on api completion"

[2014-10-22 13:53] haroldma-zz opened #30 "Last object tags bug"
In reference to PR #29

When getting info for the album "Shrek the Third" by "Harry Chapin", a beta tester found a bug.  Further looking into it and it seems to be related to Last.FM using an object instead of an array when there is only one tag.

[2014-10-22 15:11] #30 closed, assigned to nobody

[2014-10-26 14:28] #28 closed, assigned to nobody

[2014-10-27 00:04] rikkit opened #31 "Share API"
Issue to track remaining share methods

[Api Progress](https://github.com/inflatablefriends/lastfm/blob/master/PROGRESS.md)
- [ ] album.share
- [ ] artist.share
- [ ] track.share
- [ ] event.share

[2014-10-27 00:04] rikkit opened #32 "Artist API"
Issue to track remaining artist commands

[API Progress](https://github.com/inflatablefriends/lastfm/blob/master/PROGRESS.md)
- [x] artist.getTopArtists
- [ ] artist.addTags
- [ ] artist.getCorrection
- [ ] artist.getPastEvents
- [ ] artist.getPodcast
- [ ] artist.getTopFans
- [ ] artist.removeTag

[2014-10-27 00:05] rikkit opened #33 "Track API"
Issue to track remaining track methods.

[API Progress](https://github.com/inflatablefriends/lastfm/blob/master/PROGRESS.md)
- [ ] track.addTags
- [ ] track.ban
- [ ] track.getBuylinks
- [ ] track.getCorrection
- [ ] track.getFingerprintMetadata
- [ ] track.getTags
- [ ] track.getTopFans
- [ ] track.getTopTags
- [ ] track.removeTag
- [ ] track.unban

[2014-10-27 00:12] rikkit opened #34 "Change artist commands to use documented api methods"
artist.topAlbums -> artist.getTopAlbums
artist.topTracks -> artist.getTopTracks

[See PROGRESS.md](https://github.com/inflatablefriends/lastfm/blob/master/PROGRESS.md)

[2014-10-31 00:34] rikkit opened #35 "Use a NuGet package for MD5 hashing or roll our own"
Having the xBrain cryptography dll in the repo isn't good.

[2014-11-09 15:42] rikkit opened #36 "Post commands do not work in WPF"
Identical commands send different headers on WPF vs Windows Phone

[code]

[code]

After some testing it seems that the Last.fm API doesn't handle the Expect: 100-continue header.

[2014-11-09 15:49] #36 closed, assigned to nobody

[2014-11-09 23:02] #34 closed, assigned to nobody

[2014-11-16 19:22] #8 closed, assigned to rikkit

[2014-11-25 14:36] #19 closed, assigned to rikkit

[2014-12-18 12:07] rikkit opened #41 "Enable client to provide their own HttpClient"
[HttpClient should be persisted for as long as the application needs it](http://stackoverflow.com/questions/15705092/do-httpclient-and-httpclienthandler-have-to-be-disposed). Currently each call to the SDK creates a new one.

Work is to allow an HttpClient to be registered with the SDK. Simplest way seems to be IoC/DI but need to keep it simple to use for applications without that in place.

[2014-12-21 16:03] rikkit opened #43 "Command names are confusing"
Proposing renaming them all according to the API method they implement:

AlbumApi.AddShoutCommand -> album.addShout -> AlbumAddShoutCommand
AlbumApi.GetAlbumInfoCommand -> album.getInfo -> AlbumGetInfoCommand
TrackApi.LoveTrackCommand -> track.love -> TrackLoveCommand
TrackApi.AddShoutCommand -> track.addShout -> TrackAddShoutCommand
TrackApi.GetSimilarTracksCommand -> track.getSimilar -> TrackGet

[2014-12-22 17:43] rikkit opened #44 "Make ILastFmObject interface internal so nobody can use it"
~~It doesn't add anything~~ Only used in Syro for making reflection nicer

[2014-12-22 23:34] #44 closed, assigned to nobody

[2014-12-23 00:07] #23 closed, assigned to rikkit

[2014-12-24 17:44] zumicts opened #45 "Can't login with LastAuth"
Testing the demo, it doesn't throw an exception is just keeps waiting.

Debugging I found out that the problem is in the signature generation, in ToMD5()

Anybody else experiencing this?

EDIT: there is a System.IO.FileNotFoundException happening, not sure if is trying to load an assembly and failing.

EDIT: decided to use a custom implementation of MD5 instead of the MyConvert package and everyth

[2015-01-04 00:02] rikkit commented on #45
Fixed by merging #46

[2015-01-04 00:02] #45 closed

[2015-01-04 00:02] rikkit commented on #35
Completed in #46

[2015-01-04 00:02] #35 closed

[2015-01-09 17:01] rikkit opened #47 "Event API"
This issue is to track progress on all event-related methods.

[API Progress](https://github.com/inflatablefriends/lastfm/blob/master/PROGRESS.md)
- [ ] event poco
- [ ] event.attend
- [ ] event.getAttendees
- [ ] event.getInfo
- [ ] event.getShouts
- [ ] event.shout
- [ ] artist.getEvents
- [ ] artist.getPastEvents
- [ ] get.getEvents
- [ ] user.getEvents
- [ ] user.getPastEvents
- [ ] user.getRe

[2015-01-09 17:04] rikkit opened #48 "Buylinks API"
This issue is to track progress of methods relating to buy links on the API.

[API Progress](https://github.com/inflatablefriends/lastfm/blob/master/PROGRESS.md)
- [ ] Create buylink poco
- [ ] album.getBuyLinks
- [ ] track.getBuyLinks

[2015-01-09 17:19] rikkit opened #49 "Tag API"
Issue to track remaining tag methods
- [x] tag.getInfo
- [x] tag.getSimilar
- [x] tag.getTopAlbums
- [ ] tag.getTopArtists
- [x] tag.getTopTags
- [ ] tag.getTopTracks
- [ ] tag.getWeeklyArtistChart
- [ ] tag.getWeeklyChartList
- [ ] tag.search
- [ ] track.addTags
- [ ] track.getTags
- [ ] track.getTopTags
- [ ] track.removeTag
- [ ] user.getPersonalTags
- [ ] user.getTopTags
- [ ] album.addTags
-

[2015-01-09 17:20] rikkit opened #50 "Geo API"
Issue to track remaining geo methods
- [ ] geo.getEvents
- [ ] geo.getMetroArtistChart
- [ ] geo.getMetroHypeArtistChart
- [ ] geo.getMetroHypeTrackChart
- [ ] geo.getMetroTrackChart
- [ ] geo.getMetroUniqueArtistChart
- [ ] geo.getMetroUniqueTrackChart
- [ ] geo.getMetroWeeklyChartlist
- [ ] geo.getMetros
- [ ] geo.getTopArtists
- [ ] geo.getTopTracks

[2015-01-11 22:56] factormystic opened #52 "LastFM API requires that the duration parameter be an integer"
https://github.com/inflatablefriends/lastfm/blob/master/src/IF.Lastfm.Core/Api/Commands/TrackApi/TrackUpdateNowPlayingCommand.cs#L50

`TotalSeconds` is a double, which can be fractional. This causes a failure with a "MissingParameter" error. The right thing to do is probably to round fractional seconds off to the nearest whole second.

[2015-01-12 01:23] #52 closed

[2015-01-14 18:51] #26 closed

[2015-01-14 19:00] rikkit opened #54 "Move demo project into its own repo"
I think people will benefit more from the sample if it can be built upon without references to the core code.

[2015-01-17 15:25] rikkit opened #55 "Update NuGet packages"
Remove MyConvert from nuspec,
update json.net to 6.0.8

[2015-01-17 20:21] factormystic opened #56 "MyConvert causing windows phone store certification failure"
Any way to avoid this dependency?

    Error Found: The supported APIs test detected the following errors:
    This API is not supported for this application type - Api=System.Security.Cryptography.MD5CryptoServiceProvider. Module=MSCORLIB, PUBLICKEYTOKEN=B77A5C561934E089. File=MyConvert.dll.
    This API is not supported for this application type - Api=System.Security.Cryptography.HashAlgorithm.

[2015-01-17 20:23] zumicts commented on #56
Actually, isn't the latest source code not using MyConvert?

[2015-01-17 20:34] factormystic commented on #56
I was using the nuget version. I removed that and built from source and am resubmitting to the store now... assuming it will work, because MyConvert is no longer referenced.

[2015-01-17 20:58] rikkit commented on #56
Yep - you don't need it anymore, you just need to remove the reference NuGet adds.

I forgot to unlist the dependency from the NuGet package (#55)... sorry about that. This'll be fixed in the next release.

[2015-01-17 20:58] #56 closed

[2015-01-17 21:00] rikkit commented on #56
By the way @factormystic which app are you building? On my list for the next release is doing some blog posts/ tutorials so there's an opportunity for a bit of free promotion... :smile: (applies for you too @zumicts + anyone else building apps with the SDK)

[2015-01-17 21:12] zumicts commented on #56
@rikkit free promotion? count [me](www.windowsphone.com/s?appid=c02aae72-99d3-480f-b6d2-3fac2fed08a7) in! :laughing:

[2015-01-17 21:23] factormystic commented on #56
Sure, I'll take a shoutout: https://www.windowsphone.com/s?appid=df15a2e9-9ec3-454a-86f2-1c83a488b6cd

[2015-01-17 21:47] zumicts commented on #56
@factormystic nice app, gives even more usage to onedrive!

[2015-02-19 19:06] rikkit commented on #54
Done in 09ed4132b9ff95eab19f30725c356da7ee224980

[2015-02-19 19:06] #54 closed

[2015-02-19 19:16] #55 closed

[2015-02-22 19:50] rikkit commented on #11
See also #57. Basically just need to update AppVeyor to build and test under Mono

[2015-02-28 17:00] zumicts commented on #41
What would be more optimal performance wise, new client on every request or have one persist during the app lifetime?

[2015-02-28 19:43] rikkit commented on #41
Persist, will use up a bit of memory though. This issue will let you do either though.

[2015-02-28 19:50] rikkit opened #59 "Scrobble with "Various" artist fails, but response is successful"
[code]

Should look at ```@attr.ignored```

[2015-02-28 19:51] rikkit commented on #59
@zumicts what do you think the behaviour here should be?

[2015-02-28 19:54] zumicts commented on #59
I think we should return the failure status, perhaps with the ignored message.  I'm thinking a client could report back to the user.  I will be adding a scrobble status log in Audiotica and having that info would come in handy.

[2015-03-26 12:20] rikkit commented on #5
Expanding this issue to cover improving the error codes. "Bad Method Signature" isn't descriptive and doesn't suggest a solution - in this case it'd be to make sure your api keys are correct

![error](http://i.imgur.com/6ew66zz.png?1)

[2015-03-30 21:41] rvwoezik opened #60 "userApi.GetTopAlbums has wrong parameter"
userApi.GetTopAlbums has wrong parameter, "username" has to be "user"

[2015-03-31 00:27] rikkit commented on #60
Yep, you are correct. Not sure how this got through! Will be committing a fix soon.

[2015-04-04 01:05] rikkit commented on #60
Fixed in cd157882eb835e56f618e0675a5889eb6add820e

[2015-04-04 01:05] #60 closed

[2015-04-04 01:24] #43 closed

[2015-04-04 13:46] rikkit commented on #5
API returns "Missing Parameters" error code for albums which don't exist
[code]
Code 6 corresponds to ```LastResponseStatus.MissingParameters```, which implies there is something wrong with the request itself.

[2015-04-04 20:19] rikkit opened #61 "Batch scrobbling and Scrobbler classes"
Tracking issue for the new auto-caching + batching scrobbler

TODO
- [x] Base Scrobbler classes + tests
- [ ] SQLite Scrobbler class + tests
- [ ] Support multiple scrobbles on ScrobbleCommand
- [ ] SQLite nuget package

[2015-04-05 00:07] #61 closed

[2015-04-07 17:21] rikkit opened #64 "All-in-one api class"
To simplify DI and example code. Existing *Api classes presented as properties on new class object.

[code]

becomes

[code]

[2015-04-10 10:11] kasthack opened #65 "Update package on nuget"

[2015-04-10 10:36] rikkit commented on #65
Yeah, probably a good idea to push something up. Was going to finish #63 first but no harm in an interim release. I'll do this either today or tomorrow.

Checklist
- [ ] #57
- [ ] unit tests for library commands

[2015-04-10 23:54] rikkit commented on #65
v0.1.5 is up on NuGet, [release note is here](https://github.com/inflatablefriends/lastfm/releases/tag/v0.1.5)

[2015-04-10 23:54] #65 closed

[2015-04-25 14:00] rikkit opened #66 "Api classes should be disposable"
See discussion in #63

[2015-04-25 23:35] #66 closed

[2015-04-25 23:37] #41 closed

[2015-04-26 00:13] #64 closed

[2015-04-26 00:16] rikkit opened #67 "Version nuget packages separately"
AppVeyor is set up to build both packages with the same version

[2015-04-26 16:24] #67 closed

[2015-04-26 17:33] #59 closed

[2015-06-11 13:16] rikkit opened #68 "Should use ConfigureAwait(false) for internal async methods"
More info: http://blog.stephencleary.com/2012/07/dont-block-on-async-code.html

[2015-06-19 21:45] zumicts commented on #68
there is a handy resharper plugin for this, not sure if you're using R#?

[2015-06-20 11:25] yaurthek opened #71 "The progress reporter is broken"
...and has been since this commit https://github.com/inflatablefriends/lastfm/commit/211fb3a559bec3598d942c84dccf7e3a4c4b7422#diff-3721d66d11b6801d053f3680f7e08f74 .

This is because `ScrobbleCommand`  now has two constructors taking two arguments, and it breaks the `Activator.CreateInstance()` with an `AmbiguousMatchException` when creating the Command instances to get their `Method` property.

I

[2015-06-22 14:53] rikkit commented on #71
Fixed by #72

[2015-06-22 14:53] #71 closed

[2015-06-22 14:55] rikkit commented on #68
I just installed [this one](http://resharper-plugins.jetbrains.com/packages/ConfigureAwaitChecker.v9), but it doesn't seem to raise any warnings where I would expect it to. Is there any configuration needed?

[2015-06-22 17:58] zumicts commented on #68
That was the one I was talking about. Is it enabled?

On Monday, June 22, 2015, Rikki Tooley <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2015-07-05 18:40] rms81 commented on #49
When writing tag.getInfo, got the feeling that the Count property of Tag should be named, or at least the corresponding json attribute (don´t want to break anything :) ) , should be taggings, witch indicates the total number of times the tag has been used.

[2015-07-05 20:00] rikkit commented on #49
Taggings is called Count in other APIs, plus it's a simpler name. So imo GetInfo should set the count property to the value of taggings.

[code]

[2015-07-05 20:05] rms81 commented on #49
Totally agree. Will do that.

[2015-07-17 23:33] suicvne opened #76 "Mono Compatibility is Broken or Non-Existent?"
First, some system background. I'm running Debian 8.1 w/ KDE 4.14. MonoDevelop 5.9.4, the latest Mono from the Mono repositories (NOT Debian's) and the following Mono packages installed: mono-complete, mono-xsp, mono-xsp4. This is enough to get a simple sample up and running. The code sample is as follows (.NET console project in MonoDevelop, targetting "Mono/.Net 4.5"):
Output of mono --version:

[2015-07-18 16:28] rikkit commented on #76
So you don't see "Hello world!" in the console window... this doesn't look like it's related to the library. Can you step through the code with the debugger?

I can't try out your setup right now, but I can test with my Ubuntu VM on Monday.

[2015-07-19 04:47] zumicts commented on #76
If you're not getting the hello world the issue might be something else.  Could you remove last.fm and just run the hello world?

[2015-07-19 22:16] Luigifan commented on #76
Removing last.fm and just running the hello world produces no problems. @zumicts

[2015-07-20 12:18] rikkit commented on #76
:confused: I'll try and reproduce.

[2015-07-20 16:15] Luigifan commented on #76
@rikkit thank you!

[2015-07-27 23:56] rikkit commented on #76
@Luigifan Just got back from holiday, sorry I didn't get a chance to test before I went.

I've tried to reproduce on Ubuntu 14.10 and I can't. I followed the [install instructions here](http://www.mono-project.com/docs/getting-started/install/linux/#debian-ubuntu-and-derivatives). Then I installed ```mono-devel```. Opening the solution, I found that the IF.Lastfm.Core project compiled fine, though

[2015-07-28 14:00] Luigifan commented on #76
@rikkit I will verify this right now. Who's that guy who has such a good taste in music though? ;)

[2015-07-28 14:12] Luigifan commented on #76
@rikkit I installed `referenceassemblies-pcl` and i'm still getting the same results where it just idles, not even a hello world. This is really weird.

[2015-07-28 14:34] rikkit commented on #76
Okay.. so the difference between our tests is that yours is from Nuget whereas I'm building from source... could be something wrong with the NuGet package? :confused: I'll test that tonight.

[2015-07-28 14:54] Luigifan commented on #76
@rikkit okay thank you! if i have time today I will test from source

[2015-08-23 18:28] zumicts commented on #32
The GetSimilarArtist method doesn't have a page parameter, does the api allow paging here? (I know you can limit it)

[2015-08-24 08:26] rikkit commented on #32
AFAIK none of the getSimilar methods have paging. I should put that in their XML Docs.

[2015-09-01 01:10] rikkit opened #77 "ArgumentNullException thrown when scrobbling without album name"
From Gitter

[2015-09-01 01:27] rikkit opened #78 "Last.fm API no longer returning now playing track for user.getRecentTracks"
Integration test ```TrackUpdateNowPlayingCommandTests.UpdatesNowPlaying``` is failing.

API takes a parameter called ```page```. Behaviour of API used to be that when ```page=0```, the response would be the same as ```page=1``` prepended with the "now playing" track.

For ```page=0```, the API now responds with:

[code]

[2015-09-01 01:28] rikkit commented on #78
Need to investigate alternatives for this

[2015-09-01 01:54] #77 closed

[2015-09-28 15:09] rikkit opened #79 "Double encoding of ' in artist.getInfo"
Example "Gorky's Zygotic Mynci"

[2016-01-02 21:27] rikkit opened #81 "Current NuGet does not restore into ASP.NET vNext project"
On an ASP.NET vNext project targeting DNX 4.5.1

With

[code]

I get this error:

[code]

And this in the output window:

[code]

If I use this instead

[code]

There is no error.

So there's something wrong in the release branch build that dnx doesn't like.

[2016-01-04 22:19] ben-biddington opened #82 "Appveyor build is actually failing"
Hi,

It looks like the build is ignoring test failures?:

https://ci.appveyor.com/project/rikkit/lastfm/build/0.2.999.257#L371

(I get the same failure locally)

[2016-01-04 22:30] rikkit commented on #82
Hey, thanks for raising this. If I remember right, AppVeyor build used to fail so I'm not sure what's changed. I did migrate from NUnit 2 to 3 a few months ago so that might have caused it.

Test results are still being picked up: https://ci.appveyor.com/project/rikkit/lastfm/build/0.2.999.257/tests so it seems like some kind of AppVeyor config.

Anyway that specific test - ```IF.Lastfm.Core.Tests

[2016-03-04 06:05] jjgh opened #83 "track.AlbumName and track.Duration are null?"
Hi, I'm working on my first C# project so please forgive me if I am reporting something incorrectly.
I am finding that I am getting null objects when I try to access track.AlbumName and track.Duration, do you think it's due to something that has changed in LastFm API?
Thanks!

[code]

[2016-03-04 12:13] rikkit commented on #83
Hey

Last.fm data can be quite patchy in some places, because a lot of it is crowdsourced. I know that not all tracks have duration data, but I would have expected them all to have album name data.

The best way to check whether this is the SDK or the API is to check the JSON response from the API. Which artists are you testing?

[2016-03-04 14:37] jjgh commented on #83
Cool, thanks for your answer.
First off, I was testing with very popular artists (Queen, Pink Floyd, AC-DC, ...) and I could never find either the duration or the album name for a track, not even once.

Secondly, yes, I thought of inspecting the JSON response from the API but I couldn't remember the syntax for the request and also 1) I couldn't find it by reading your library code, sorry but I am

[2016-03-04 18:37] jjgh commented on #83
Is inflatablefriends/lastfm querying the last.fm API like the following request does? Because this will contain album information and track duration too..

http://ws.audioscrobbler.com/2.0/?method=track.getInfo&api_key=f5f149ffcdf2e0db0888f6c477c4abc1&artist=cher&track=believe

[2016-03-04 18:57] jjgh opened #84 "First HTTP request to lastfm API is very slow (takes aprox 10 secs)"
Hi,
I'm finding that the first HTTP request I make to the lastfm API is very slow:

`var similarArtists = await myLastfmClient.Artist.GetSimilarAsync("ACDC"));`

This will take aprox 10 seconds to complete, but successive requests will complete in just a matter of milliseconds, as expected.
Could this be possibly related to:

http://stackoverflow.com/questions/16086045/first-call-to-a-net-webservi

[2016-03-04 19:08] jjgh commented on #84
Self answer: yes it's related to that: the first HTTP request tries to detect if there is proxy, slowing the request down. Following the answer at http://stackoverflow.com/a/16087788/988591 I disabled the proxy completely for last.fm by adding this to App.config:

[code]

[2016-03-04 22:32] rikkit commented on #83
Hi @jigh. I don't have time this weekend to help unfortunately! It sounds like you should look into a software called Fiddler. This lets you see the http requests made by an application. You can also check out the tool i wrote to make testing the last.fm api better. Details on how to use it are in contributing.md in this repo.

I'll try and check in over the next couple days to answer quick questi

[2016-05-19 12:45] rikkit opened #88 "Support .NET Core / .NET Standard in NuGet"
Maybe related to #81.

[2016-05-21 14:55] coczero opened #89 "Scrobble track with info from LastTrack"
I can't seem to scrobble a track which pulls its info from a LastTrack.
I narrowed the problem down to the TimePlayed Property.
If I create my Scrobble with DateTime.Now, it works:
`scrobbles.Add(new Scrobble(vm.Scrobble.ArtistName, vm.Scrobble.AlbumName, vm.Scrobble.Name, DateTime.Now));` <--- This Scrobble will be successfully scrobbled.

vm.Scrobble is the LastTrack.

But if I try to use the Lo

[2016-05-22 01:20] rikkit commented on #89
What's the value of each datetime compared to UTC? Could be a timezone thing? The Last.fm API [has some rules](https://github.com/inflatablefriends/lastfm/blob/master/doc/scrobbling.md#things-to-know) about scrobbles, could be it's rejecting a future datetime.

[2016-05-22 09:22] coczero commented on #89
![TimePlayed obj](https://ibin.co/2i0xdSp2vtSl.png)

So basically, that means, that the LocalDateTime lies in the future, at least for the last.fm servers?
Sadly, UtcDateTime doesn't work either. Says successfully scrobbled, but the scrobble does not appear on my last.fm page :(
I also tried other Properties of the TimePlayed prop, but the only one that seemed to work was the DateTime property its

[2016-05-22 16:10] rikkit commented on #89
Have you tried using just ```vm.Scrobble.TimePlayed.Value```? I would have expected DateTimeOffset.UtcDateTime to work the same as the DTO, but it's worth a try.

Also can you check the ```Ignored``` property on the response you get back from the Scrobbler class? This should show if any scrobbles were ignored for datetime reasons.

[2016-05-22 16:15] coczero commented on #89
Same result unfortunately. Says successfully scrobbled, but it's not showing on my page.
Ignored is empty.

![Ignored](https://ibin.co/2i2zmWfU4Rvt.png)

[2016-05-22 16:20] rikkit commented on #89
Is it the same track/artist each time? The API rejects duplicate scrobbles but I would have expected those to appear in the Ignored property.

Any chance you can capture the scrobble request using Fiddler (or similar) so I can try reproduce this?

[2016-05-22 16:23] coczero commented on #89
Hmm you are right, if I add a second to the value it works... =D

[2016-05-22 22:23] rikkit commented on #89
Nice! I guess I can close this issue then :+1:

[2016-05-22 22:23] #89 closed

[2016-05-26 23:18] #82 closed

[2016-05-28 01:09] rikkit opened #90 "Paging parameters don't work consistently on Chart methods"
Seeing some weird behaviour with the chart API:
- chart.getTopArtists returns 1 item if asked for 1, otherwise returns 20 items
- chart.getTopTracks returns 1 item if asked for 1, otherwise returns 10 items
- chart.getTopTags seems to always return page 1 of 50 items

Added some integration tests to track this.

[2016-06-05 15:44] coczero opened #91 "All albums I fetch dont have tracks"
Is this yet to be implemented or is this a bug? Every album I fetch does not have tracks, even though I checked the last.fm page of that album and it has tracks.
I fetch like this:
`var response = await MainViewModel.Client.Album.SearchAsync(SearchText);`
I get a lot of albums from my searches but none of them has tracks. Am I simply doing something wrong?

[2016-06-05 17:31] rikkit commented on #91
Albums from the search api don't contain tracks in their responses, you will have to use ```Album.GetInfoAsync``` for each album you want a list of tracks for.

[2016-07-06 14:32] #91 closed

[2016-09-11 11:03] coczero opened #92 "AcceptedCount and Ignored always 0 even though some tracks failed to scrobble."
I scrobble a lot of tracks at the same time.
Some tracks fail to scrobble, but in the response the AcceptedCount is always 0 aswell as the Ignored list. Is this a bug? I can't seem to find out why some tracks failed to scrobble.

[2016-09-12 08:06] coczero commented on #92
Also I just got a "Success" response, but around 2000 tracks failed to scrobble (out of 50000)

[2016-10-03 07:24] rikkit commented on #92
Hi @coczero , very sorry for the slow reply. I am currently on holiday so haven't checked GitHub recently.

The Success and AcceptedCount properties are wired up to the JSON response that Last.fm sends. In the past the AcceptedCount property was available in the JSON. I know Last.fm has been changing its JSON output somewhat recently, so maybe this info isn't there anymore. Will need some investig

[2016-10-04 07:45] coczero commented on #92
Hi,

I am probably way over the upper threshold of the scrobbles, but that value seems to be unpredictable at best. I normally have no problem scrobbling around 10000 tracks within a minute. So maybe the threshold has changed too. The problem is just how can we tell if a scrobble has been rejected and what was the reason?

[2016-10-09 18:05] coczero opened #93 "How would I go about "unauthentification" of a client?"
In my app the user can switch between accounts via a list of added accounts. If he removes the currently active user I want the client to no be authenticated anymore. But nothing I tried so far worked. I tried to load an empty user session, get the client token with empty data, dispose the Auth object... any ideas?

[2016-10-11 15:17] rikkit commented on #92
I haven't had a chance to investigate this yet.

Out of curiosity though why are you scrobbling 10,000 tracks? Stress testing?

[2016-10-11 15:23] rikkit commented on #93
You need to make a new LastfmClient object. You can load an existing UserSession object into it using ```client.Auth.LoadSession(cachedUserSession)```. If you don't load one in, the user is not authenticated.

The API is a little awkward here I realise, the ```LastAuth``` class should have a "log out" method - this would save having to create a new LastfmClient each time you switch account.

[2016-10-11 15:35] coczero commented on #92
Basically, I parse the iTunes library to allow people to import their database to a new last.fm account.

[2016-10-14 02:41] #93 closed

[2016-11-02 02:31] branc116 opened #94 "Just love :)"
I don't know if people tell You this enough, but I love You and I love this lib :)
Tnx for making it. :)

<3

[2016-11-02 15:44] rikkit commented on #94
Thanks ❤️

It definitely needs more work on it... I don't have as much time as I used to 😿

[2016-11-02 15:55] rikkit commented on #84
Hi @jjgh, I think this is to do with the debugger. At a guess you're building an app and each time you launch the debugger a new "network context" (term i just made up) gets created. If the delay comes from resolving proxies and DNS then I don't think this would happen on a real phone/ computer, because that info will be cached. Either way this seems to be a platform issue.

[2016-11-02 15:55] #84 closed

[2016-11-02 15:56] #83 closed

[2016-11-03 06:51] jjgh commented on #84
Thanks for the insight. When I have more time, I'll look into it again and see if I notice a difference between debugging mode and running the built file on its own.

[2016-11-05 13:55] #94 closed

[2016-12-01 19:24] #76 closed

[2016-12-30 01:56] #88 closed

[2017-01-05 12:57] coczero opened #99 "User.GetTopArtists fails with "Missing parameter""
I call the following line: `var response = await MainViewModel.Client.User.GetTopArtists(Username, TimeSpan, 0, Amount);` where 'Username' is 'coczero', 'TimeSpan' is 'Overall' and 'Amount' is 20. The response fails with the Status "MissingParameters".
Any ideas?

[2017-01-05 16:57] rikkit commented on #99
Is the 0 page number? Try setting it to 1. The API is inconsistent as to whether paging is 0 or 1 indexed. I can look at this a bit later.

[2017-01-05 17:11] coczero commented on #99
Yea this fixes it... alright, I guess =D

[2017-01-05 17:33] rikkit commented on #99
Sweet. I'm planning to put in like a pager object that knows the default value for each api call. For now just try 0 or 1 :)

[2017-01-05 17:33] #99 closed

[2017-03-10 21:29] coczero opened #100 "User.GetInfo: PlayCount always 0"
Basically what the title says. Doesn't matter which username I try.

[2017-03-10 21:37] coczero commented on #100
If I call the api method through my browser the PlayCount is fine.

[2017-03-11 15:32] rikkit commented on #100
Thanks for reporting, I'll take a look at this soon.

[2017-03-11 15:33] #81 closed

[2017-03-11 15:34] rikkit commented on #11
Sort of addressed this with the. Net standard pacmage.

[2017-03-11 15:34] #11 closed

[2017-03-11 15:55] coczero commented on #100
I had a short look at the code and it seems that you just don't read the PlayCount from the JToken.

[code]

[2017-04-07 08:07] theweavrs opened #102 "Always RequestFailed on GetSessionTokenAsync"
I have been trying to Scrobble using IF.Lastfm and I am always getting RequestFailed.
Here's my code:
[code]
And the `response` is always `RequestFailed`.

In result of this, I tried manually authenticating using Postman and I was successfully able to get the `session_key`.

Any help would be immensely appreciated.

[2017-04-07 10:55] theweavrs commented on #102
So after downloading the source and debugging the Lastfm code myself, I realized that I forgot to enable Internet Capability in my UWP project. So, my bad after all 👍

[2017-04-07 10:55] #102 closed

[2017-04-16 18:10] rikkit commented on #100
Have fixed this for netstandard package, reopening this issue to to track backporting to v0.3.0

[2017-04-16 18:13] rikkit commented on #90
Fixed in c7a36350b79b504598a9dcd1659625d48d6fde89

[2017-04-16 18:13] #90 closed

[2017-08-07 14:32] rikkit commented on #92
@coczero could it be this? https://github.com/inflatablefriends/lastfm/blob/master/doc/scrobbling.md#scrobbles-have-an-age-limit

There should be better reporting on this either way.

[2017-08-07 14:34] coczero commented on #92
No, the scrobbles go through fine. Maybe the api doesnt really give info about this anymore.

[2017-08-22 07:53] coczero opened #103 "SQLiteScrobbler does not clear cache after SendCachedScrobblesAsync"
This *should* clear the database file right?

[2017-08-22 11:47] rikkit commented on #103
It should - though looking at the unit test https://github.com/inflatablefriends/lastfm/blob/master/src/IF.Lastfm.Core.Tests/Scrobblers/ScrobblerTestsBase.cs#L156 there's no assertion to check that. So I suppose it's a bug!

I haven't updated the SQLite package in a while - what package are you using? And do you know if there's a .Net Standard version of SQLite yet - that was the problem last time

[2017-08-22 12:21] coczero commented on #103
I am pretty sure I use the latest NuGet Package (https://www.nuget.org/packages/Inflatable.Lastfm.SQLite/) which would be 0.2.0.211. I can check once I get home.

No idea about .Net standard though.

[2017-08-22 16:03] rikkit commented on #103
Ok - if you're using sqlite-net-pcl then since there seems to be a .Net Standard version of that package I think I will update ```Inflatable.Lastfm.SQLite``` to target .Net Standard as well. I think most people using this project are using platforms that also support .Net Standard - so this fix would benefit the most people if I retarget the package. I think I remember you saying in another thread

[2017-08-22 16:04] #16 closed

[2017-08-22 16:04] rikkit commented on #50
Tidying issues

[2017-08-22 16:04] #50 closed

[2017-08-22 16:04] rikkit commented on #49
Tidying issues

[2017-08-22 16:04] #49 closed

[2017-08-22 16:04] rikkit commented on #48
Tidying issues

[2017-08-22 16:04] #48 closed

[2017-08-22 16:04] rikkit commented on #47
Tidying issues

[2017-08-22 16:04] #47 closed

[2017-08-22 16:05] rikkit commented on #33
Tidying issues

[2017-08-22 16:05] #33 closed

[2017-08-22 16:05] rikkit commented on #32
Tidying issues

[2017-08-22 16:05] #32 closed

[2017-08-22 16:05] rikkit commented on #31
Tidying issues

[2017-08-22 16:05] #31 closed

[2017-08-22 16:05] coczero commented on #103
Yes I use v1.x.
Thanks.

[2017-08-22 16:08] rikkit commented on #68
Tidying issues

[2017-08-22 16:08] #68 closed

[2017-08-22 16:09] rikkit commented on #5
Tidying issues

[2017-08-22 16:09] #5 closed

[2017-08-22 16:11] rikkit opened #104 "Incorrect error code when album doesn't exist"
Copied from #5 - needs verification

---

API returns "Missing Parameters" error code for albums which don't exist

[code]

Code 6 corresponds to `LastResponseStatus.MissingParameters`, which implies there is something wrong with the request itself.

[2017-08-22 16:12] rikkit commented on #21
Tidying - i don't know what this means anymore

[2017-08-22 16:12] #21 closed

[2017-08-23 09:09] rikkit commented on #103
Ran into some issues around csproj formats and my build server - am working on it!

[2017-08-23 11:20] rikkit opened #106 "AppVeyor doesn't build new csprojs"

[2017-08-30 12:52] #106 closed

[2017-08-30 12:52] rikkit opened #107 "Nuget packages not being created properly on AppVeyor"
https://ci.appveyor.com/project/rikkit/lastfm/build/1.0.999.312

[code]

[2017-10-06 21:30] Reyth3 opened #109 "Scrobbler.ScrobbleAsync() sometimes throws "StackOverflowException: Value was either too large or too small for an Int32""
As I mentioned in the title, sometimes when I'm scrobbling some data to last.FM I get this exception. Here is the stack trace:

     at System.Convert.ToInt32(Double value)
     at IF.Lastfm.Core.Api.Commands.Track.ScrobbleCommand.SetParameters()
     at IF.Lastfm.Core.Api.Commands.PostAsyncCommandBase`1.<ExecuteAsyncInternal>d__3.MoveNext()
    --- End of stack trace from previous location where

[2017-11-15 13:32] rikkit commented on #109
Thanks for the report @Reyth3 , I will investigate this soon. #105 and #107 is the priority right now however.

[2017-11-16 16:11] Reyth3 commented on #109
@rikkit actually, turned out it was my out-of-process background task having trouble with parsing the JSON into a scrobble object.

Still, it would be great if you could add some sort of an indicator that the scrobble data is incorrect (throw specific exception when the scrobble or any of the required values is `null` or something to that effect).

Cheers!

[2018-03-28 10:19] roflmuffin opened #111 "Track.GetInfoAsync does not return "userplaycount""
It looks like if you pass a username to the GetInfoAsync method, the number of plays returned is the total plays, regardless of the username provided.

When you hit this API outside of the client, there are two properties, "playcount" (the one returning from the API), and one called "userplaycount".

Should we add this value to the track info, or modify it to be the user play count when providing

[2018-03-28 10:42] rikkit commented on #111
Hi @roflmuffin, thanks for creating the issue. I would be in favour of providing both bits of information if possible, i.e. two properties on the track object where UserPlayCount is null if not available on the API response.

I really need to get #107 sorted before any released can be made for this package, but if you would like to send a PR to fix this issue I'll be sure to get that reviewed and

[2018-04-25 09:39] coczero opened #113 "User.getRecentScrobbles is missing the "To" and "Extended" parameter"
According to [the api](https://www.last.fm/api/show/user.getRecentTracks) these parameters are optional for the command, but I think they would be really helpful.

[2018-04-25 18:38] coczero commented on #113
And I just noticed I get an MissingParameters error status when using User.GetRecentScrobbles

[2018-04-26 11:01] coczero commented on #113
Hmm, weird. I will try again once I'm home. Though I just call UserApi.GetRecentScrobbles(Username). (i also tried with the optional parameters)

[2018-04-26 11:29] rikkit opened #114 "Failing integration test: Integration.Commands.ChartApiTests.GetTopArtists_Success"
https://ci.appveyor.com/project/rikkit/lastfm/build/1.0.999.323/tests

Error message:

[code]

Error stack trace:

[code]

[2018-04-26 16:16] coczero commented on #113
Ok, so the "MissingParameters" error comes from the default page parameter being "0", last.fm wants that parameter between 1 and 1000000 though.

[2018-04-26 18:44] rikkit commented on #113
Thanks for looking into this - I suppose the default should be changed to 1.

[2018-04-27 10:16] rikkit opened #115 "Update SQLite package to .Net Standard"
The package target doesn't look right: https://github.com/Qstick/lastfm/blob/38967fdc73090b93e1b3d809250fb64bfdcc779f/.nuget/Inflatable.Lastfm.SQLite.nuspec#L22

[2018-04-27 10:17] #107 closed

[2018-05-23 14:58] ColorTwist opened #117 "Example as is from readme never genereates error"
I tried the following code:
[code]
Receving an error on Content:

I am using WinForms and downloaded the SDK with NuGET

[2018-05-23 16:06] rikkit commented on #117
Hi @ColorTwist, can you tell me what versions of Visual Studio, .Net, and the NuGet package you're using? And if possible, would you be able to share the project where you get this error?

[2018-05-23 16:20] coczero commented on #117
@ColorTwist you need to await the GetInfoAsync call.
Like this `var response = await client.Album.GetInfoAsync("Grimes", "Visions");`
Otherwise you just get a task back (which obviously does not have a `Content `property

[2018-05-23 16:32] rikkit commented on #117
Ah oops! Didn't read the code properly or realise it's a compile warning. Ta @coczero

[2018-05-23 16:44] rikkit commented on #117
Will update the code sample in the readme :)

[2018-05-23 16:44] #117 closed

[2018-05-25 14:21] ColorTwist opened #118 "Use Artist.GetTopAlbumsAsync but with artist mbid"
I am trying to find way to retrieve top Albums by Artist mbid, is there a way?

[2018-05-25 14:29] ColorTwist opened #119 "Bug regarding Artist.GetTopAlbumsAsync"
var pageResponse = await client.Artist.GetTopAlbumsAsync("Madonna", page: 1, itemsPerPage: 100);
return different result than:
 var pageResponse = await client.Artist.GetTopAlbumsAsync("Madonna", page: 1, itemsPerPage: 50);

[2018-05-25 20:18] ColorTwist opened #120 "Tag.GetTopTagsAsync() executes endlessly"
`   var pageResponse = await client.Tag.GetTopTagsAsync();`
Will execute endlessly without result (of course) :)

All tests is with DLL downloaded with NuGET latest version (1.0.1.307)

[2018-05-26 11:37] ColorTwist commented on #118
I added: GetTopAlbumsByMbidAsync
Can i push it?

[2018-05-31 05:14] ColorTwist commented on #118
Added the function GetTopAlbumsByMbidAsync

[2018-05-31 05:14] #118 closed

[2018-05-31 05:17] ColorTwist opened #121 "How to become contributor ?"
I added a new function called: GetTopAlbumsByMbidAsync and i want to push it for the benefit of all.

When i try to push it i get that i do not have permission:

[2018-05-31 11:14] rikkit commented on #121
Hi @ColorTwist! You will need to **fork** this repository to your own account, then send a **pull request**. I will then review your changes and merge them into the code assuming all is good.

You can read more about this process here: https://help.github.com/articles/creating-a-pull-request-from-a-fork/

Thanks!

[2018-05-31 15:20] ColorTwist commented on #121
i see, need to learn how to fork, i already use Source Tree to get the master repository of this git, does it mean i "forked" it ? :)

[2018-05-31 16:42] rikkit commented on #121
You've got a copy of the repo on your computer - you need to have one on your GitHub account also. Click the fork button at the top right of this page, then make any changes you want to make in that repository. Then send a pull request.

A clone is a copy of a repository
A fork is a clone that's publicly accessible :)

[2018-06-27 19:30] L-Dogg commented on #113
@rikkit Can I work on this one?

[2018-06-27 21:32] L-Dogg commented on #119
@ColorTwist isn't this last.fm API endpoint's problem (or design)? If my [little R script](https://gist.github.com/L-Dogg/3d606bf963cdf8826dde0c65a0c72567) is working correctly, then it isn't a bug - it shows that there's no match between responses album data.

[2018-07-01 20:48] rikkit commented on #103
Fixed by #105

[2018-07-01 20:48] #103 closed

[2018-07-02 09:55] #121 closed

[2018-07-02 09:57] rikkit commented on #111
@roflmuffin This is now released in the 1.1.0 package. Thanks

[2018-07-02 09:57] #111 closed

[2018-07-02 09:58] #100 closed

[2018-07-04 08:32] coczero opened #122 "TypeLoadException problem with SQLite scrobbler"
Since the new update the SQLite scrobbler is not working anymore.
I get the following error message:
`TypeLoadException: The method "RemoveFromCacheAsync" of type "IF.Lastfm.SQLite.SQLiteScrobbler" of assembly "IF.Lastfm.SQLite, Version=0.2.0.211, Culture=neutral, PublicKeyToken=null" has no implementation.` (translated from German)

I'm using the nuget package of the SQLite scrobbler but I alread

[2018-07-04 09:33] rikkit commented on #122
I haven't updated the SQLite package yet - see #115. You should be able to build and package it from source though.

1. Update `sqlite-net-pcl` to latest version
1. Build solution in release mode
1. Change the platform target in `.nuget/Inflatable.Lastfm.SQLite.nuspec` to `lib\netstandard1.1`
1. Change the version in `.nuget/Package-Versions.ps1` to `1.0.0` (local source builds get this version, t

[2018-07-06 08:14] rikkit opened #124 "Failing tests don't fail the CI build"
https://ci.appveyor.com/project/rikkit/lastfm/build/1.1.999.342/tests - build marked as passing

[2018-07-06 08:17] rikkit commented on #124
https://help.appveyor.com/discussions/problems/8330-test-fail-but-build-passes#comment_43648038

[2018-07-17 11:12] veso266 opened #126 "How do you use track.getInfo properly in your wrapper"
Hi I was trying your wrapper and it works realy well but now I am trying to get an info about a track name
in the lastFM api you would use track.getinfo https://www.last.fm/api/show/track.getInfo

but not sure how would I do that in your wrapper
I tried to get an Artist name for title Believe
[code]
but it complains
[code]

Hopefully you can help me a bit with this

Thanks for Anwsering and Best R

[2018-07-17 11:14] coczero commented on #126
Content can be multiple LastTracks, therefore you have to iterate it to get single LastTracks

[2018-07-17 12:37] rikkit commented on #126
Hi @veso266

What you want to do is call the `track.getInfo` API, like so

[code]

What your code is actually doing is calling the `track.search` API (I've added the types to make things clear)

[code]

Let me know if that helps. Cheers

[2018-07-17 12:37] #126 closed

[2018-07-17 14:46] veso266 commented on #126
Thanks for anwsering
almost there
[code]

[code]

not sure why LastResponse doesn't exist

[2018-07-17 15:35] rikkit commented on #126
You also need

[code]

[2018-07-17 16:09] veso266 commented on #126
oops forget that I also needed that one (didn't knew existed)
[code]
works like it should now, but it is a bit slow (do you know if its possible to make it faster?)
Thanks

[2018-07-18 09:35] rikkit commented on #126
Hi @veso266 from the code you've given me I can't immediately see any performance problems. I'd use a tool like Fiddler to check exactly how much time is spent waiting for the Last.fm API vs how long is spent in your code.

PS - you posted your api and api secret in your comment - you should avoid posting these online.

Ta

[2018-07-21 12:16] #115 closed

[2018-07-21 12:16] #122 closed

[2018-07-27 12:34] coczero opened #127 "Add user specific info for AlbumApi.GetInfo"
According to https://www.last.fm/api/show/album.getInfo you can get user specific info like playcount of an album.

[2018-09-17 21:00] mew22 opened #128 "Lang param not working"
I tried to set "fr" on Artist.GetInfoByMbidAsync and Artist.GetInfoAsync but the bio is still in English. I verified on lastfm REST endpoint it works well with &lang=fr.

[2018-09-18 12:11] rikkit commented on #128
Thanks for reporting @mew22. I will investigate when I have some spare time (possibly next week).

[2018-09-18 21:35] mew22 opened #129 "Add method Artist.GetTopAlbumsByMbidAsync"
Is it possible to add this method, based on the existing Artist.GetTopAlbumsAsync but with Mbid ?

[2018-09-19 08:50] rikkit commented on #129
Hi @mew22, if the API will accept this parameter, it's definitely possible to add. Unfortunately I've got very little free time at the moment to implement it for you, but if there is a pull request, I'll make time to merge it in and release. Thanks

[2018-10-10 07:55] c-d commented on #127
Hi, I've submitted PR #130 for this.

Note that the last.fm API is a bit confusing - userplaycount is a sum of all of the scrobbles by that user _for all tracks on the album_, not the number of times a user has played the album in its entirety.

[2018-10-14 21:28] #127 closed

[2018-11-15 18:21] rickerk6gdo opened #133 "issue with exception"
The follow code intermittently will cause me to get the  NullReferenceException Object reference not set to an instance of an object. with Xamarin forms.  Even when I do the NULL check on the instance, it gives me the fault.

Ideas?

public async void GetXml( string artist, string song)
		{
			//Check network status

			{
				lastfmclass = new lastfmimage();
				inxml = true;

				var auth = new L

[2018-11-16 12:17] rikkit commented on #133
Can you post the stack trace of the exception?

[2018-11-16 19:36] rickerk6gdo commented on #133
there is none.. attached screenshot . If I take the LFM code out, no fault

![lastfmerror](https://user-images.githubusercontent.com/35049937/48643146-cdfa5700-e993-11e8-9c67-aaa8a84c25f2.png)

[2018-11-18 12:59] rikkit commented on #133
This looks like it could be related to #76.

What version of the package are you using, and can you provide some more details on the project? Is it possible to share the source in order to try to reproduce the issue?

[2018-11-19 19:06] rickerk6gdo commented on #133
No problem, what's a good way to send it to only you.

[2018-11-21 20:09] rickerk6gdo commented on #133
version of last fm is 1.1.0.339.

This will  only happen intermittently . I do have it on a timer to call lastfm code

Device.StartTimer(TimeSpan.FromSeconds(10), () =>
		    {
			    Browser.Source = (Browser.Source as UrlWebViewSource).Url;
			    if (!inxml)
				    lastfm();

			    // Set the grid to invisible
			    // IsGridVisible = false;

			    // TRUE for we want the timer to start aga

[2018-11-26 23:05] rickerk6gdo commented on #133
Rikki?

[2018-11-27 10:42] rikkit commented on #133
Sorry @rickerk6gdo, you can email your source to hello [at] rikk [dot] it but I can't promise I'll be able to try anything soon. In the spirit of open source, could you post on this thread more details about your project? What platform? What version of .Net? What NuGet packages are you using? I don't currently have much time to investigate this for you so if this kind of info is public maybe someo

[2018-11-27 18:57] rickerk6gdo commented on #133
Thanks

VS 2017 with xarmain forms 3.4.10008975
Xam.plugin.media 4.0.1.5
Plugin.mediamanager 0.4.5
Inflateable..lastfm 1.1.0.339
HTML agilitypack 1.8.10

Building for IOS and android.

I guess I dont understand why I'd be getting nulls back from XML, rather than empty string sets.

[2018-11-29 13:12] klinge opened #134 "Missing attributes of User.GetRecentTracks"
I'm trying to get recent tracks for a user and display them using pagination.

In UserApi I find a method called UserApi.GetRecentScrobbles (I find no method called GetRecentTracks). GetRecentScrobbles works well for getting a users recent tracks, but it returns an array of LastTrack:s and nothing else.

According to the lastfm api (https://www.last.fm/api/show/user.getRecentTracks) the response h

[2018-11-29 16:00] rikkit commented on #134
Hi @klinge,

`UserApi.GetRecentScrobbles` calls the `user.getRecentTracks` API. It returns a `PageResponse<LastTrack>`. On `PageResponse<T>` objects, there are the properties `Page`, `PageSize`, `TotalItems`, `TotalPages` - see the source [here](https://github.com/inflatablefriends/lastfm/blob/master/src/IF.Lastfm.Core/Api/Helpers/PageResponse.cs). These properties are available on every API respo

[2018-11-29 23:33] rickerk6gdo commented on #133
finally got a call stack.

does this give any clues?

 	0x5C in UIKit.UIApplication.UIApplicationMain	C#
 	0xB in UIKit.UIApplication.Main at /Library/Frameworks/Xamarin.iOS.framework/Versions/12.2.1.10/src/Xamarin.iOS/UIKit/UIApplication.cs:79,4	C#
 	0x2F in UIKit.UIApplication.Main at /Library/Frameworks/Xamarin.iOS.framework/Versions/12.2.1.10/src/Xamarin.iOS/UIKit/UIApplication.cs:63,4	C#

[2018-11-30 08:07] klinge commented on #134
Thanks for the quick reply. I missed that the properties for paging were returned in the PageResponse<T>. And regarding the `user` property there is no need to have it in the response object. So please feel free to close this issue.

[2018-11-30 11:14] #134 closed

[2018-11-30 11:14] rikkit commented on #129
@klinge go for it :)

[2018-11-30 13:26] klinge opened #135 "Test projects - dependency on .Net Framework 4.6.2"
I'm on linux and Visual Studio Code. I cloned the repo and can build the main project without any trouble. But when trying to build the test projects I get the error below:

`error MSB3644: The reference assemblies for framework ".NETFramework,Version=v4.6.2" were not found. To resolve this, install the SDK or Targeting Pack for this framework version or retarget your application to a version of t

[2018-11-30 14:09] rikkit commented on #135
I'm sure it's possible - I'm all for making the project more cross platform. However I don't have time to work on this. You could make .Net Core test projects with the same files and I think it'd work. Happy to accept a PR for this.

[2018-11-30 14:31] klinge commented on #129
I'll start with trying to get tests to run on .Net Core/Linux. If I fix that then I will continue with this one.

[2018-12-12 12:08] klinge opened #137 "Bug in TestHelpers.cs AssertValues?"
The AssertValues-method compares a number of values from the page response to expected values. Among the assertions being tested are these:

[code]
So both pageResponse.TotalItems and pageResponse.Content.Count are compared to the input parameter totalItems.

From my understanding the pageResponse.TotalItems is the same as the "total" attribute in the Lastfm response. The pageResponse.Content.Coun

[2018-12-13 11:17] klinge commented on #119
I also checked this by calling the last.fm api directly with the parameters above. Tried with a number of different values for limit (itemsPerPage). Seems like it is working fine with values up to limit=99. But once you set limit to 100 you get different results. Then again you get the correct results setting limit to 101.. Most likely a bug in the last.fm API I think.

[2018-12-13 15:36] rikkit commented on #133
I don't think so. Couple of Qs

- Is it just the iOS project you experience this on? Or Android also?
- Are you calling `Inflatable.Lastfm` methods from the UI thread or a background thread? Because it looks like the UI thread is crashing from the stacktrace there. (Not 100% sure if this is a relevant question - my knowledge of threading in apps come from a Windows background, not Android or iOS)

[2018-12-13 18:50] rickerk6gdo commented on #133
Is it just the iOS project you experience this on? Or Android also?

     both;

Are you calling Inflatable.Lastfm methods from the UI thread or a
background thread? Because it looks like the UI thread is crashing from
the stacktrace there. (Not 100% sure if this is a relevant question - my
knowledge of threading in apps come from a Windows background, not
Android or iOS)
Calling them from the Mai

[2018-12-14 12:09] rikkit commented on #133
If you're in VS - try unticking the "Just My Code" option in the debugger when you repro. You might get a better stacktrace.

[2018-12-17 08:19] klinge commented on #128
I had a look at this. Seems like a bug. In the Artist API the method accepts a  parameter named bioLang. But then in the SetParameters section in the Artist.GetInfoCommand this is actually never used. This would be easily fixed. I will make the changes and submit a PR.

[2018-12-25 06:45] ColorTwist opened #139 "Get popular artists by genre (pop, rock, etc..) and country"
I know there  `getTopArtistsin`  in geo section, but it always returns the same popular bands in different order but not local bands of a country and without genre result.
(https://www.last.fm/api/show/geo.getTopArtists)
Would it be possible to get popular artists by genre and country?
For example: a list of X popular artists in ROCK genre from United States.

[2018-12-26 12:00] rikkit commented on #139
This isn't is a feature that the Last.fm API supports (this is an independently run project) - I don't think Last.fm even records the origin country of each artist.

So you'd have to look elsewhere, then cross-reference it with the popularity lists from Last.fm. Origin info is available on MusicBrainz for some of the more popular artists, but as with a lot of music info databases, there are a lot

[2018-12-26 12:01] #139 closed

[2018-12-26 13:00] #135 closed, assigned to nobody

[2018-12-30 23:08] klinge commented on #78
According to last.fm api pages "now playing" is now showed by passing a parameter in the call to GetRecentTracks.

I'll add support for this.

[2019-01-07 11:44] klinge commented on #78
I did some testing of the Last.fm api for this. It seems that the "now playing" track is always returned regardless of if you send the nowplaying="true" parameter to the api or not. Example on return dataset from calling the User.getRecentTracks without adding the nowplaying parameter:

[code]

So the "now playing" track is returned. There is a value in the @attr for marking that it is the now pla

[2019-01-07 12:00] rikkit commented on #78
I think this behaviour has changed a bit over the last few months, so it might be worth adding an integration test? One that'll fail if the API behaviour changes.

[2019-01-07 14:16] klinge commented on #78
Integration testing would sort of require that you had a user that you knew always had a song playing. Otherwise you will not get the "nowplaying" attribute. The "RJ" user does not have that. If you can think of a good way to implement an integration test I'd be happy to implement it :)

[2019-01-07 14:49] rikkit commented on #78
I just realised that the integration test for [track.updateNowPlaying](https://github.com/inflatablefriends/lastfm/blob/master/src/IF.Lastfm.Core.Tests.Integration/Commands/TrackUpdateNowPlayingCommandTests.cs) (what this issue is about) is exactly the same test as I'm suggesting you write - so no extra test needed :)

For future ref though, the [base class for the integration tests](https://githu

[2019-01-07 20:21] klinge commented on #78
Never used or looked at the scrobble functions in the library. Will have to do that sometime.. :) Should I still make a PR for the added unit test I made for the "nowplaying" attribute in the user.getrecenttracks command? (it's just one added test and a json resource file.. )

[2019-01-23 09:56] #137 closed

[2019-01-23 09:58] klinge commented on #137
This seems to be working fine in all tests so closing this for now.

[2019-01-27 14:34] L-Dogg opened #145 "Character encoding errors when unit testing"
Related PR: #144 - I submitted a PR with a sample JSON containing polish characters, however they weren't parsed properly and that caused `UserGetRecentTracksCommandTests.HandleExtendedResponse` unit test to fail.

[2019-01-29 08:43] rikkit commented on #113
Closed by #144

[2019-01-29 08:43] #113 closed

[2019-02-02 14:12] rikkit opened #146 "Integration tests failing?"
As noticed by @klinge: https://github.com/inflatablefriends/lastfm/pull/143#issuecomment-459347026

[2019-02-04 12:55] klinge commented on #146
I had a look att the failing test ScrobblesSingle. The error is an assert that the actual and expected time the track was played is the same (expected = trackPlayed, actual = scrobbledTrack.TimePlayed). When running test locally with "dotnet test" and on the appveyor build these are off by a time between a few minutes to a few seconds.

But when debuggning the test I get the exact same value for b

[2019-02-04 12:59] klinge commented on #146
Also looked at the error in UpdatesNowPlaying. This is an error because it seems LastFM now returns an array of ArtistImages in the track object.

A number of other parameters in the actual result are set to null in the response from LastFM to avoid errors when implementation of the API changes. My proposed fix would be to set "actual.ArtistImages = null".

[2019-02-20 13:06] klinge commented on #146
Ran the tests today again. The error on the timestamp on the scrobbledTrack.TimePlayed is still there. Only change is that now it's off by more than 5 seconds.

I also debugged the tests to see how long the Lastfm.Scrobbler.ScrobbleAsync(testScrobble); takes to execute. It's not super fast but the result is returned in less than a second. So it cannot really expain the 5 second error. Could time s

[2019-02-20 16:46] rikkit commented on #146
Could it be that there isn't a delay - that a previous scrobble is being used for the comparison? It would explain why the difference in timestamps is so variable.

[2019-02-21 08:23] klinge commented on #146
Good thinking. Will check up on that.

[2019-04-24 23:11] dogguts commented on #146
caused by [c3aff5aa29caacf42c3e250d588bdf86ccfab32d](https://github.com/inflatablefriends/lastfm/commit/c3aff5aa29caacf42c3e250d588bdf86ccfab32d#diff-ff8dde0bcb2dbdf068c08b01c4399def)
Wich expands LastTrack with 2 additional properties: `LastImageSet` and `ArtistUrl`
Additionally `IsLoved` will (more often) get an actual value
Setting these properties on actual to `null` fixes this specific (`Upda

[2019-05-04 14:23] ByteCollector opened #148 "artist image returns the same image"

[2019-05-04 14:28] ByteCollector commented on #148
It;s weird but I have been receiving the same kind of artist image. This is happening 2 days ago. Is it a bug on lastfm? Here's the pic that I've been receiving when i request of an artist image.
![lastfmImage](https://user-images.githubusercontent.com/29355978/57180526-ef0c2100-6ebb-11e9-84b2-bb2e1676af78.jpg)

[2019-05-06 08:45] klinge commented on #148
I can verify that I get the same image as you are. The lastfm Artist.GetInfo method returns what seems like proper image urls but when entering the image url in a browser you just get the image with a star on that you are seeing.

I don't really have time to troubleshoot but my guess is that this isn't a bug in the code but rather that artist images are missing on the content delivery network that

[2019-05-06 15:58] ByteCollector commented on #148
Thank you for responding, I have already  found also having the same problem https://stackoverflow.com/tags/last.fm.  I have been using this api for almost 2 years now and I don’t have any problem.  All we have to do is wait, maybe they are updating.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Johan Klinge <notifications@gi

[2019-05-09 10:52] rikkit commented on #148
@ByteCollector weird! It doesn't seem to be caused by this project though, so I'm going to close this issue. Feel free to reopen if you discover otherwise! Cheers

[2019-05-09 10:52] #148 closed

[2019-05-09 18:24] ByteCollector commented on #148
Thanks for responding!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Rikki Tooley <notifications@github.com>
Sent: Thursday, May 9, 2019 6:52:01 PM
To: inflatablefriends/lastfm
Cc: ByteCollector; Mention
Subject: Re: [inflatablefriends/lastfm] artist image returns the same image (#148)

@ByteCollector<https://github.com/ByteC

[2019-10-08 07:36] erikvojtko commented on #104
Hi, can I try to tackle this issue?

[2019-11-15 13:53] th0mk opened #150 "Add LastResponseStatus for Login Required"
When a users profile is private, a request like `User.getRecentTracks` can return error 17:
[code]
This error code does not exist in the `LastResponseStatus` enum.

[2019-11-17 17:58] rikkit commented on #150
Hi @th0mk, thanks for this report. I don't currently have time to do much work on this library, so if you can send a PR that'd be great! IIRC the value just needs adding here: https://github.com/inflatablefriends/lastfm/blob/master/src/IF.Lastfm.Core/Api/Enums/LastResponseStatus.cs

[2019-11-18 10:46] th0mk commented on #150
Thanks, I will do a PR today.
Note: this response isn't mentioned anywhere in the [Last.FM docs](https://www.last.fm/api/show/user.getRecentTracks), but they're pretty outdated anyways..

[2019-11-18 10:49] th0mk commented on #114
While the integration tests can be useful, I'm not sure if its a good idea to include them in the build pipeline. Tests like these are pretty sensitive since they use real data and not mock data.

Also not sure if it's a good idea to have api key/secrets in the repo, but that's a different issue.

[2019-11-18 12:34] th0mk commented on #146
I've removed the integration tests from the build pipeline in #151 .

While these are useful, they're very error prone. I would still encourage people to run these tests, but they shouldn't break a build. Would like to hear other opinions on this though.

[2019-12-12 09:39] th0mk opened #152 "Artist.GetInfoAsync does not return UserPlayCount"
Similar to #111 , Artist.GetInfoAsync does not return UserPlayCount.

You also can't pass the username, even though it is supported in the API.

https://www.last.fm/api/show/artist.getInfo

[2019-12-12 09:45] th0mk commented on #150
Hi there, do you maybe have some time to look at my PR?

[2020-03-29 21:32] tolbxela opened #153 "Implement command auth.getSession"

[2020-03-29 21:32] tolbxela opened #154 "Implement command auth.getToken"

[2020-03-31 19:26] tolbxela commented on #154
The command is implemented. But I haven't add tests, since I don't know how to test it.
That's why I am not sure, if the Issue is done.

[2020-03-31 19:26] tolbxela commented on #153
The command is implemented. But I haven't add tests, since I don't know how to test it.
That's why I am not sure, if the Issue is done.

[2020-04-06 11:30] coczero opened #156 "MissingParameters when using GetSessionTokenAsync"
Multiple users of my app have reported that the login does not work currently.
I have tested and verified this behaviour.
The GetSessionTokenAsync call returns a MissingParameters result.
Any idea what might be up with that?

Cheers,
Tim

[2020-04-06 12:01] rikkit commented on #156
Hey @coczero , I'm not sure to be honest. I do not really use this library any more. My feeling would be that maybe Last.fm have changed their API, but their documentation looks the same to me. https://www.last.fm/api/mobileauth

Does it say which parameters are missing?

[2020-04-06 12:47] coczero commented on #156
Unfortunately it doesn't say which parameter is missing, at least its not visible from the LastResponse object.

[2020-04-06 12:49] tolbxela commented on #156
Hi @coczero,
I have just implemented the two missing  authentication paths (Web&Desktop) here (https://github.com/inflatablefriends/lastfm/pull/155) and tested all three variants in my app. They all are working well. If you follow the documentation, it works.
To help you, I need to see you code.
Can you show here your code?

[2020-04-06 12:51] coczero commented on #156
Hi @tolbxela,

I'm just using the LastAuth object.
[code]

[2020-04-06 13:17] tolbxela commented on #156
I don't see here how did you created the _lastAuth object.

The flow should be:

[code]

[2020-04-06 13:30] rikkit commented on #156
Can you take a look at the request returned from the Last.fm API? Adding a proxy like Fiddler or Wireshark would help you do this.

@tolbxela there's an alternate constructor on `LastfmClient`  that allows you to pass in the `auth` object like @coczero is doing. They should be equivalent https://github.com/inflatablefriends/lastfm/blob/master/src/IF.Lastfm.Core/Api/LastfmClient.cs#L32

It's possib

[2020-04-06 13:35] tolbxela commented on #156
@rikkit that could be really the reason

[2020-04-06 13:56] rikkit commented on #156
Sorry if you think I was repeating what you said @tolbxela, but I am aware @coczero has used this project for a while, so unless the way the auth in their app works has been changed recently, I think it's indicative that the way `LastAuth` has been set up is correct (or at least correct as per documentation).

The answer will lie in the JSON sent back from Last.fm, we're agreed on that.

[2020-04-06 14:04] tolbxela commented on #156
@rikkit no, I didn't mean it. :-)

@coczero Have you changed something in the app/auth recently?

[2020-04-06 14:06] coczero commented on #156
@tolbxela no everything is still the same way it has been for months now.
I will try to find out which parameter is missing.

[2020-04-06 14:23] tolbxela commented on #156
I have just tested the Mobile Auth path and it works well.

You can debug the GetSessionTokenAsync() function:
![image](https://user-images.githubusercontent.com/4910589/78568716-ce162380-7822-11ea-9376-74b5d708c85a.png)

Check also if your Last.FM API Key still valid.

[2020-04-06 14:27] tolbxela commented on #156
Check if your Last.FM API Key still valid. They could possibly revoke them, if you do too much requests.

[2020-04-06 14:28] coczero commented on #156
@tolbxela is there a convenient way to check if the key is still valid?

[2020-04-06 14:32] tolbxela commented on #156
There was one: https://last.fm/api/accounts/
But now it looks pretty broken for me.
You can try to email Last.fm about your key or just create a new API Key and test it. ;-)

[2020-04-06 14:34] tolbxela commented on #156
This could be a wrong way with the API Key.
I guess, you should try to debug it thoughtfully at first.

[2020-04-06 15:49] tolbxela opened #157 "Porting the lib to .Net Standard?"
I like this library very much. The developers did a very good job!
But it is a bit outdated.
What about porting the library to .Net Standard?

[2020-04-06 16:11] rikkit commented on #157
Thanks!

It's already targeting `netstandard1.1`. https://github.com/inflatablefriends/lastfm#platform-compatibility

I'm a bit out of the loop on .Net packaging. is there a platform that you're not able to use this library on? Or is there a newer version of .Net Standard it should be on?

[2020-04-06 16:32] tolbxela commented on #157
No, I can use the lib without problem.
But .Net Standard 1.1 is 7 versions behind of the current .Net Standard 2.1.

I just thought, it does make sense to upgrade it.

[2020-04-06 16:52] rikkit commented on #157
As far as I understand it, you don't need to upgrade versions of  .Net Standard unless you need something in the new version. Updating it means you potentially reduce the number of platforms your library can be used on.

Happy to be corrected, but I think it's fine as it is.

[2020-04-06 16:54] tolbxela commented on #157
Yes, you are right.

Ok. :-)

[2020-04-06 16:54] #157 closed

[2020-04-06 22:04] coczero commented on #156
I can still scrobble with that api key tho (I am still logged in), so it probably isn't the api key.

[2020-04-10 08:39] coczero commented on #156
Ok so it seems like this is an oddity in my app - I just tried a very minimal example (tho with same api key) and it works there. I have to do some more investigation.

[2020-04-10 08:49] coczero commented on #156
Yea, this was the result of a recent merge, basically I didn't pass the Username in lol...

[2020-04-10 08:49] #156 closed

[2020-06-29 11:48] th0mk opened #161 "Add method user.getTopTracks"
The method [user.getTopTracks](https://www.last.fm/api/show/user.getTopTracks) that exists in the last.fm API has not been implemented yet.

[2020-06-29 12:34] th0mk opened #163 "Method artist.getInfo lacks username parameter and playcount in result"
As seen in the [documentation](https://www.last.fm/api/show/artist.getInfo) it is possible to enter a username for this method and receive the playcount.

[2020-06-29 18:19] #150 closed

[2020-07-02 17:44] rikkit opened #166 "user.getTopArtists no longer returns images"
Make LastArtist.MainImage obsolete

More info here: https://www.reddit.com/r/lastfm/comments/bjwcqh/api_announcement_lastfm_support_community/

[2020-10-14 23:54] youngcaseho commented on #152
May I work on this issue?

[2020-10-16 11:39] rikkit commented on #152
@youngcaseho yes, go ahead! Thanks

[2020-10-21 23:25] youngcaseho commented on #152
@rikkit I looked at the response for the artist.getInfo request [here](https://www.last.fm/api/show/artist.getInfo).  I don't see 'UserPlayCount' in the sample response.  Am I looking at the correct documentation?

[2020-10-21 23:58] youngcaseho commented on #152
Ahh I see, username must be included in the request.  Please disregard the comment above.

[2021-02-22 14:53] fuuman commented on #78
I can reproduce the response from the original post.

I want to receive the currently playing song. But recent tracks doesn't deliver that, Page 0 is out of bounds. Page 1 doesn't contain it.

Is there any endpoint that provides me the currently played track?

[2022-04-21 15:12] yuans-dev opened #172 "Null reference when getting top tracks by tag"
```await Client.Tag.GetTopTracksAsync(Tag, page: 1, Results);``` where "Tag" is a string and "Results" is an integer, throws
"System.NullReferenceException in IF.Lastfm.Core.dll
Object reference not set to an instance of an object."

LastFm Client is properly instantiated.

[2022-10-10 15:32] GmausDev commented on #152
May I continue with this? I coming for Hacktoberfest but i like it

[2022-10-10 15:44] GmausDev commented on #129
Its still open?

[2022-10-10 17:57] burak-ozenc commented on #172
I checked and debugged this issue but I did not understand why it is not validating. But **Tag/GetTopTracksCommand/HandleResponse** selecting an invalid token -- selecting "toptracks" instead of "tracks".

[2022-10-17 17:59] rikkit commented on #152
@GmausDev please go for it :)

[2022-10-17 17:59] rikkit commented on #129
@GmausDev yep!

[2022-10-17 22:44] GmausDev commented on #129
@rikkit  i looking at #141 PR and its look like done.?

[2022-10-18 14:03] rikkit commented on #129
Ah, sorry. Yes it looks like it is complete.

[2022-10-18 14:03] #129 closed